@model IEnumerable<KurumsalWeb.Models.Model.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><strong>Slider İşlemleri</strong></h2>

<p>
    @Html.ActionLink("Slide Ekle", "Create",null,new { @class="btn btn-success"})
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            <img src="@item.ResimURL" width="228" height="90" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }, new { @class = "btn btn-sm btn-warning" })
            @Html.ActionLink("Detay", "Details", new { id=item.Id }, new { @class = "btn btn-sm btn-default" })
            @Html.ActionLink("Sil", "Delete", new { id=item.Id }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
