@model KurumsalWeb.Models.Model.Yorum

@{
    ViewBag.Title = "Yorum Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><strong>Yorum Sil</strong></h2>

<h3>Yorumu silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YorumIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YorumIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
